
        .containerProfesores {
            margin: 2%;
        }
       .detalleProfesor {
            float: left;
            display: inline-block;
       }
       .imagenProfesor {
            float: left;
           margin-right: 15px;
            
       }

       .panel .panel-default {
        width: 20%;
       }
       h3 {
            border-bottom: 1px solid rgb(102, 102, 102);
       }
       h5 {
            padding-bottom: 5px;
            font-size: 18px;
       }
       a{
            padding-top:  5px;
       }

