<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fundamentos de Programacion</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

         <!-- Bootstrap Core CSS -->
       <link href="./frontend/css/bootstrap.min.css" rel="stylesheet">
       <style type="text/css">
       .detalleProfesor {
        float: left;
       }
       .imagenProfesor {
        float: left;
       }
       .centradox {
            height: 100%;
            width: 100%;
        }


       </style>
        </head>

<body>
    <!-- Page Content -->



<!-- Contenedor de profesores xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <main class="containerProfesores">
        <h2>Coordinador:</h2>
        <div class="containerCoordinador">

        </div>
        <hr>
        <h2>Profesores:</h2>
        <div class="container" id="Profesores">
            <div class="row">
                
            </div>
            

        </div>
        <hr>
        <h2>Ayudantes:</h2>
        <div class="containerAyudantes">
            <div class="container" id="Ayudantes">
                
            </div>
           
                
        </div>
       
    </main>
    <!-- /.container xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!-- footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->


<!-- /.footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->




    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/script3.js"></script>

</body>

</html>
